In [71]:
#creating a dataframe
import pandas as pd

data={
        "name":["swaroop","tiru",'srinadh','ashok','yogi'],
        "age":[20,19,22,21,20],
        'marks':[80,75,70,75,85]
    }
df=pd.DataFrame(data)
print(df)

      name  age  marks
0  swaroop   20     80
1     tiru   19     75
2  srinadh   22     70
3    ashok   21     75
4     yogi   20     85

In [72]:
#for printing  top rows
print(df.head(3))

      name  age  marks
0  swaroop   20     80
1     tiru   19     75
2  srinadh   22     70

In [73]:
# for average(mean)
print(df['age'].mean())

20.4

In [74]:
# sorting
df=df.sort_values(by='age',ascending=True)
print(df)

      name  age  marks
1     tiru   19     75
0  swaroop   20     80
4     yogi   20     85
3    ashok   21     75
2  srinadh   22     70

In [75]:
# printing filtered sd
filtered_df=df[df['age']>20]
print(filtered_df)

      name  age  marks
3    ashok   21     75
2  srinadh   22     70

In [76]:
df['result']=df['marks'].apply(lambda x:"pass" if x>75 else "fail")
print(df)

      name  age  marks result
1     tiru   19     75   fail
0  swaroop   20     80   pass
4     yogi   20     85   pass
3    ashok   21     75   fail
2  srinadh   22     70   fail

In [77]:
df['Eligibility']=df['age'].apply(lambda x:"Eligible" if x>20 else "Not Eligible")
print(df)

      name  age  marks result   Eligibility
1     tiru   19     75   fail  Not Eligible
0  swaroop   20     80   pass  Not Eligible
4     yogi   20     85   pass  Not Eligible
3    ashok   21     75   fail      Eligible
2  srinadh   22     70   fail      Eligible

In [78]:
ndf=pd.DataFrame({"name":['sai'],"age":[20],"marks":[76]})
df=pd.concat([df,ndf],ignore_index=True)
print(df)

      name  age  marks result   Eligibility
0     tiru   19     75   fail  Not Eligible
1  swaroop   20     80   pass  Not Eligible
2     yogi   20     85   pass  Not Eligible
3    ashok   21     75   fail      Eligible
4  srinadh   22     70   fail      Eligible
5      sai   20     76    NaN           NaN

In [79]:

print(df["marks"].max())

85

In [80]:
c=df.isnull()
print(c)

    name    age  marks  result  Eligibility
0  False  False  False   False        False
1  False  False  False   False        False
2  False  False  False   False        False
3  False  False  False   False        False
4  False  False  False   False        False
5  False  False  False    True         True

In [81]:
df= df.drop_duplicates()
print(df)

      name  age  marks result   Eligibility
0     tiru   19     75   fail  Not Eligible
1  swaroop   20     80   pass  Not Eligible
2     yogi   20     85   pass  Not Eligible
3    ashok   21     75   fail      Eligible
4  srinadh   22     70   fail      Eligible
5      sai   20     76    NaN           NaN

In [82]:
df=df.drop("Eligibility",axis=1)
print(df)

      name  age  marks result
0     tiru   19     75   fail
1  swaroop   20     80   pass
2     yogi   20     85   pass
3    ashok   21     75   fail
4  srinadh   22     70   fail
5      sai   20     76    NaN

In [83]:
df=df.drop(0,axis=0)
print(df)

      name  age  marks result
1  swaroop   20     80   pass
2     yogi   20     85   pass
3    ashok   21     75   fail
4  srinadh   22     70   fail
5      sai   20     76    NaN